body {
  text-align: center;
  background: #8C0707;
}

h3, h1 {
  font-family: 'Arvo', serif;
  color: #1b1b1b;
}

p {
  font-family: 'Lato', sans-serif;
  color: #ccc;
  margin: 30px 350px 0px 350px;
  font-size: 18px;
}

a {
  color: #999;
  text-decoration: none;
}
a:hover {
  background-color: #6c0707;
  color: #bbb;
  border-radius: 5px;
}

code {
  font-family: 'Arvo', serif;
  background: #6c0707;
  border-radius: 5px;
}

ul {
  list-style: disc inside;
}
li {
  font-family: 'Lato', sans-serif;
  color: #ccc;
  margin: 5px 350px 5px 330px;
}